<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="InInterval" value="3600" />
    <add key="LogLevel" value="debug" />
    <add key="LogFilePath" value="Log" />
    <add key="LogFileKeepDay" value="30" />
    
  </appSettings>
  <connectionStrings>
   
   <add name="Pingtai" connectionString="Data Source=127.0.0.1;Initial Catalog=Philips_ICCA;User ID=sa;Password=wecare4U;" /> 
   <add name="ICCA" connectionString="Data Source=127.0.0.1;Initial Catalog=BrokerCacheDB;User ID=sa;Password=wecare4U;" />
    <!-- 
    <add name="Pingtai" connectionString="Data Source=172.16.101.154\HDW;Initial Catalog=WN_DataUpload;User ID=lbxd;Password=lbxd@321;" />
    <add name="ICCA" connectionString="Data Source=172.16.200.38;Initial Catalog=CISReportingDB;User ID=sa;Password=wecare4U;" />-->
  </connectionStrings>
</configuration>